<% include ./partials/header.ejs %>

<h1>Airplane Trader Landing Page</h1>
<div>
  <a class="btn btn-primary btn-large" href="/airplanes">All Airplanes</a>  
</div>

<% include ./partials/footer.ejs %>